<template lang="pug">
v-app.white
	v-navigation-drawer(app right v-model="drawer")
		sidebarfilter
	v-content
		v-img(height="8em" :src="bierIMG")
			v-layout(align-center row fill-height white--text pa-3)
				h1.display-1.font-weight-light Bieren
				v-spacer
				v-btn.white(outline fab @click.stop="drawer = !drawer")
					v-icon.white--text drag_handle
		productlist
</template>

<script>
import bierIMG from '/assets/bier-bkgd.jpg'
import { mapState, mapActions } from 'vuex'
import ProductList from './components/ProductList'
import SidebarFilter from './components/SidebarFilter'

export default {
	components: {
		productlist: ProductList,
		sidebarfilter: SidebarFilter,
	},
	data: () => ({
		drawer: null,
		bierIMG,
	}),
	methods: {},
}
</script>
