<template lang="pug">
v-container(grid-list-md)
	v-layout(row wrap)
		v-flex(xs12 sm6 md4 v-for='product in products' :key='product.id')
			v-card(flat)
				v-card-title
					div
						div.headline(v-text='product.Bier')
						div(v-text='product.Brouwerij' v-if='product.Brouwerij')
				v-card-actions.pa-3
					v-spacer
					span(v-if='product.Alcoholpercentage')
						v-icon.mr-1.amber--text local_drink
						span.mr-2(v-text='product.Alcoholpercentage' v-if='product.Alcoholpercentage')
		v-flex(xs12 text-xs-center v-if='page !== -1')
			v-btn(white outline icon @click='nextPage()')
				v-icon.large keyboard_arrow_down
</template>

<script lang="ts">
import { mapState, mapActions } from 'vuex';

export default {
	computed: mapState({
		// data from bieren module
		products: state => state.bieren.all,
		page: state => state.bieren.p,
		// filtering via filter module from sidebar
		filterBier: state => state.filter.bier,
		filterBrouwerij: state => state.filter.brouwerij
	}),
	data: () => ({}),
	methods: {
		nextPage() {
			this.$store.dispatch('bieren/getNextBier');
		}
	},
	created() {
		this.$store.dispatch('bieren/getBier', 0);
	}
};
</script>
