<template lang="pug">
v-list
	v-list-tile
		v-list-tile-action
			v-icon filter_list
		v-list-tile-content
			v-list-tile-title.title Filter
	div.pa-3
		v-text-field(clearable solo label='Bier Naam'
			v-model='bierNaam'
			append-icon='search'
			@click:clear='search("bier", true)'
			@click:append='search("bier")'
			v-on:keyup.enter='search("bier")'
		)
		v-text-field(clearable solo label='Brouwerij'
			v-model='bierBrouwerij'
			append-icon='search'
			@click:clear='search("brouwerij", true)'
			@click:append='search("brouwerij")'
			v-on:keyup.enter='search("brouwerij")'
		)
</template>

<script lang="ts">
// import { mapState, mapActions } from 'vuex';

export default {
	computed: {},
	data: () => ({
		bierNaam: '',
		bierBrouwerij: ''
	}),
	methods: {
		search: function(key, isClear: boolean = false) {
			switch (key) {
				case 'bier':
					if (isClear) this.bierNaam = '';
					this.$store.dispatch('filter/search', { bier: this.bierNaam });
					break;
				case 'brouwerij':
					if (isClear) this.bierBrouwerij = '';
					this.$store.dispatch('filter/search', {
						brouwerij: this.bierBrouwerij
					});
					break;
			}
		}
	},

	created() {
		/* this.$store.dispatch('categories/getCategories'); */
	}
};
</script>
